/**
 * Global Styles for older IE versions (previous to IE9).
 */

pre,
fieldset,
table,
th,
td,
input,
textarea {
	border: 1px solid #e5e5e5;
}

hr {
	background-color: #e5e5e5;
}

button,
input,
select,
textarea {
	vertical-align: middle;
}


input:focus,
textarea:focus {
	border: 1px solid #b2b2b2;
}

.site-title {
	max-width: 71%;
}

.site-content blockquote.alignleft,
.site-content blockquote.alignright {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.post-thumbnail,
a.post-thumbnail:hover {
	background: transparent;
}

.list-view .site-content .hentry {
	border-top: 1px solid #e5e5e5;
	padding-top: 48px;
}

.gallery-caption {
	background: #000;
	filter: alpha(opacity=0);
}

.gallery-item:hover .gallery-caption {
	filter: alpha(opacity=70);
}

.nav-links {
	border-top: 1px solid #e5e5e5;
}

.post-navigation a,
.image-navigation .previous-image,
.image-navigation .next-image,
.contributor {
	border-bottom: 1px solid #e5e5e5;
}

.contributor-avatar,
.comment-author .avatar {
	border: 1px solid #e5e5e5;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
	border-top: 1px solid #e5e5e5;
}

.comment-list .reply {
	margin-top: 0;
}

#secondary {
	color: #b3b3b3;
}

.widget abbr[title] {
	border-color: #b3b3b3;
}

.widget pre,
.widget fieldset,
.widget table,
.widget th,
.widget td,
.widget input,
.widget textarea {
	border-color: #4d4d4d;
}

.widget blockquote,
.widget .wp-caption,
.widget_twentyfourteen_ephemera .entry-meta a {
	color: #b3b3b3;
}

.widget del {
	color: #666;
}

.widget hr {
	background-color: #4d4d4d;
}

.widget input,
.widget textarea {
	background-color: #1a1a1a;
}

.widget input:focus,
.widget textarea:focus {
	border-color: #262626;
}

.widget_calendar thead th {
	background-color: #1a1a1a;
}

.widget_twentyfourteen_ephemera > ol > li {
	border-bottom: 1px solid #4d4d4d;
}

.widget_archive li,
.widget_categories li,
.widget_links li,
.widget_meta li,
.widget_nav_menu li,
.widget_pages li,
.widget_recent_comments li,
.widget_recent_entries li,
.widget_categories li ul,
.widget_nav_menu li ul,
.widget_pages li ul {
	border-top: 1px solid #4d4d4d;
}

.content-sidebar .widget pre,
.content-sidebar .widget fieldset,
.content-sidebar .widget table,
.content-sidebar .widget th,
.content-sidebar .widget td,
.content-sidebar .widget input,
.content-sidebar .widget textarea,
.content-sidebar .widget_archive li,
.content-sidebar .widget_categories li,
.content-sidebar .widget_links li,
.content-sidebar .widget_meta li,
.content-sidebar .widget_nav_menu li,
.content-sidebar .widget_pages li,
.content-sidebar .widget_recent_comments li,
.content-sidebar .widget_recent_entries li,
.content-sidebar .widget_categories li ul,
.content-sidebar .widget_nav_menu li ul,
.content-sidebar .widget_pages li ul {
	border-color: #e5e5e5;
}

.content-sidebar .widget hr {
	background-color: #e5e5e5;
}

.content-sidebar .widget input:focus,
.content-sidebar .widget textarea:focus {
	border: 1px solid #b2b2b2;
}

.content-sidebar .widget_calendar thead th {
	background-color: #fafafa;
}

.content-sidebar .widget_twentyfourteen_ephemera > ol > li {
	border-bottom: 1px solid #e5e5e5;
}

.site-footer,
.site-info,
.site-info a {
	color: #b3b3b3;
}

#supplementary + .site-info {
	border-top: 1px solid #4d4d4d;
}

.featured-content {
	background: #000;
}


/**
 * Internet Explorer 8
 */

.ie8 img.size-full,
.ie8 img.size-large,
.ie8 img.header-image,
.ie8 img.wp-post-image,
.ie8 img[class*="align"],
.ie8 img[class*="wp-image-"],
.ie8 img[class*="attachment-"] {
	height: auto;
	width: auto; /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
}

.ie8 .full-size-link:before,
.ie8 .parent-post-link:before,
.ie8 .site-content span + .byline:before,
.ie8 .site-content span + .comments-link:before,
.ie8 .site-content span + .edit-link:before,
.ie8 .site-content span + .entry-date:before {
	content: "";
}

.ie8 .attachment span.entry-date:before,
.ie8 .entry-content .edit-link a:before,
.ie8 .entry-meta .edit-link a:before,
.ie8 .site-content .byline a:before,
.ie8 .site-content .comments-link a:before,
.ie8 .site-content .entry-date a:before,
.ie8 .site-content .featured-post:before,
.ie8 .site-content .full-size-link a:before,
.ie8 .site-content .parent-post-link a:before,
.ie8 .site-content .post-format a:before {
	display: inline-block;
	font: normal 16px/1 Genericons;
	text-decoration: inherit;
	vertical-align: text-bottom;
}

.ie8 .site-content .entry-meta > span {
	margin-right: 10px;
}

.ie8 .site-content .format-video .post-format a:before {
	content: "\f104";
}

.ie8 .site-content .format-audio .post-format a:before {
	content: "\f109";
}

.ie8 .site-content .format-image .post-format a:before {
	content: "\f473";
	position: relative;
	top: 1px;
}

.ie8 .site-content .format-quote .post-format a:before {
	content: "\f106";
	margin-right: 2px;
}

.ie8 .site-content .format-gallery .post-format a:before {
	content: "\f103";
	margin-right: 4px;
}

.ie8 .site-content .format-aside .post-format a:before {
	content: "\f101";
	margin-right: 2px;
}

.ie8 .site-content .format-link .post-format a:before {
	content: "\f107";
	position: relative;
	top: 1px;
}

.ie8 .site-content .featured-post:before {
	content: "\f308";
	margin-right: 3px;
	position: relative;
	top: 1px;
}

.ie8 .site-content .entry-date a:before,
.ie8 .attachment .site-content span.entry-date:before {
	content: "\f303";
	margin-right: 1px;
	position: relative;
	top: 1px;
}

.ie8 .site-content .byline a:before {
	content: "\f304";
}

.ie8 .site-content .comments-link a:before {
	content: "\f300";
	margin-right: 2px;
}

.ie8 .entry-content .edit-link a:before,
.ie8 .entry-meta .edit-link a:before {
	content: "\f411";
}

.ie8 .site-content .full-size-link a:before {
	content: "\f402";
	margin-right: 1px;
}

.ie8 .site-content .parent-post-link a:before {
	content: "\f301";
}

.ie8 .main-content {
	float: left;
}

.ie8 .content-area {
	float: left;
	padding-top: 72px;
	width: 100%;
}

.ie8 .site-content {
	margin-right: 29.04761904%;
	margin-left: 17.61904761%;
}

.ie8 .search-box-wrapper,
.ie8 .featured-content {
	padding-left: 17.61904761%;
}

.ie8 .header-main {
	padding: 0 0 0 30px;
}

.ie8 .search-toggle {
	margin-right: 0;
}

.ie8 .search-box .search-field {
	width: 324px;
}

.ie8 .site-navigation li .current_page_item > a,
.ie8 .site-navigation li .current_page_ancestor > a,
.ie8 .site-navigation li .current-menu-item > a,
.ie8 .site-navigation li .current-menu-ancestor > a {
	background-color: #000;
}

.ie8 .primary-navigation {
	float: right;
	font-size: 11px;
	margin: 0 1px 0 -10px;
	padding: 0;
	text-transform: uppercase;
}

.ie8 .primary-navigation .menu-toggle {
	display: none;
	padding: 0;
}

.ie8 .primary-navigation .nav-menu {
	border-bottom: 0;
	display: block;
}

.ie8 .primary-navigation.toggled-on {
	border-bottom: 0;
	margin: 0;
	padding: 0;
}

.ie8 .primary-navigation li {
	border: 0;
	display: inline-block;
	height: 48px;
	line-height: 48px;
	position: relative;
}

.ie8 .primary-navigation a {
	display: inline-block;
	padding: 0 10px;
	white-space: nowrap;
}

.ie8 .primary-navigation ul ul {
	background-color: #24890d;
	float: left;
	margin: 0;
	position: absolute;
	top: 48px;
	left: -999em;
	z-index: 99999;
}

.ie8 .primary-navigation li li {
	border: 0;
	display: block;
	height: auto;
	line-height: 1.0909090909;
}

.ie8 .primary-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.ie8 .primary-navigation ul ul a {
	padding: 18px 12px;
	white-space: normal;
	width: 176px;
}

.ie8 .primary-navigation li:hover > a,
.ie8 .primary-navigation li.focus > a {
	background-color: #24890d;
	color: #fff;
}

.ie8 .primary-navigation ul ul a:hover,
.ie8 .primary-navigation ul ul li.focus > a {
	background-color: #41a62a;
}

.ie8 .primary-navigation ul li:hover > ul,
.ie8 .primary-navigation ul li.focus > ul {
	left: auto;
}

.ie8 .primary-navigation ul ul li:hover > ul,
.ie8 .primary-navigation ul ul li.focus > ul {
	left: 100%;
}

.ie8 .archive-header,
.ie8 .page-header {
	margin: 0 auto 60px;
	padding: 0 10px;
}

.ie8 .site-content .has-post-thumbnail .entry-header {
	margin-top: -48px;
}

.ie8 .archive-header,
.ie8 .comments-area,
.ie8 .image-navigation,
.ie8 .page-header,
.ie8 .page-content,
.ie8 .post-navigation,
.ie8 .site-content .entry-header,
.ie8 .site-content .entry-content,
.ie8 .site-content .entry-summary,
.ie8 .site-content footer.entry-meta {
	margin-right: 54px;
	padding-right: 30px;
	padding-left: 30px;
}

.ie8 .list-view .site-content .hentry:first-child,
.ie8 .list-view .site-content .hentry.has-post-thumbnail {
	border-top: 0;
	padding-top: 0;
}

.ie8 .comment-list .trackback,
.ie8 .comment-list .pingback,
.ie8 .comment-list article {
	margin-bottom: 36px;
	padding-top: 36px;
}

.ie8 .comment-author .avatar {
	height: 34px;
	top: 2px;
	width: 34px;
}

.ie8 .comment-author,
.ie8 .comment-awaiting-moderation,
.ie8 .comment-content,
.ie8 .comment-list .reply,
.ie8 .comment-metadata {
	padding-left: 50px;
}

.ie8 .comment-list .children {
	margin-left: 20px;
}

.ie8 .full-width .site-content {
	margin-right: 0;
}

.ie8 .full-width .archive-header,
.ie8 .full-width .comments-area,
.ie8 .full-width .image-navigation,
.ie8 .full-width .page-header,
.ie8 .full-width .page-content,
.ie8 .full-width .post-navigation,
.ie8 .full-width .site-content .entry-header,
.ie8 .full-width .site-content .entry-content,
.ie8 .full-width .site-content .entry-summary,
.ie8 .full-width .site-content footer.entry-meta {
	padding-right: 30px;
	padding-left: 30px;
	margin-right: auto;
}

.ie8 .full-width .hentry.has-post-thumbnail:first-child {
	margin-top: -72px;
}


.ie8 .singular .site-content .hentry.has-post-thumbnail {
	margin-top: 0;
}

.ie8 .error404 .page-header {
	margin-bottom: 24px;
}

.ie8 .contributor-avatar {
	margin-left: -168px;
}

.ie8 .contributor-summary {
	float: left;
}

.ie8 .site:before {
	background-color: #000;
	content: "";
	display: block;
	height: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 17.61904761%;
	z-index: 2;
}

.ie8 #secondary {
	border: 0;
	clear: none;
	color: #b3b3b3;
	float: left;
	margin: 0 0 0 -100%;
	min-height: 100vh;
	padding: 0 30px;
	width: 12.85714285%;
}

.ie8 .site-description {
	display: block;
	margin: -3px 0 21px;
}

.ie8 .secondary-navigation {
	font-size: 11px;
	margin: 0 -30px 48px;
	width: calc(100% + 60px);
}

.ie8 .secondary-navigation li {
	border-top: 1px solid #4d4d4d;
	position: relative;
}

.ie8 .secondary-navigation a {
	padding: 10px 30px;
}

.ie8 .secondary-navigation ul ul {
	background-color: #24890d;
	position: absolute;
	top: 0;
	left: -999em;
	width: 222px;
	z-index: 99999;
}

.ie8 .secondary-navigation li li {
	border-top: 0;
}

.ie8 .secondary-navigation li:hover > a,
.ie8 .secondary-navigation li.focus > a {
	background-color: #24890d;
	color: #fff;
}

.ie8 .secondary-navigation ul ul a:hover,
.ie8 .secondary-navigation ul ul li.focus > a {
	background-color: #41a62a;
}

.ie8 .secondary-navigation ul li:hover > ul,
.ie8 .secondary-navigation ul li.focus > ul {
	left: 202px;
}

.ie8 .content-sidebar {
	border: 0;
	float: right;
	margin-left: -29.04761904%;
	padding: 72px 30px 24px;
	width: 29.04761904%;
}

.ie8 #supplementary {
	padding: 0;
}

.ie8 .footer-sidebar {
	font-size: 12px;
	line-height: 1.5;
}

.ie8 .footer-sidebar .widget,
.ie8 .primary-sidebar .widget {
	font-size: 12px;
	line-height: 1.5;
}

.ie8 .footer-sidebar .widget {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	float: left;
	padding: 0 30px;
	width: 25%;
}

.ie8 .footer-sidebar .widget h1,
.ie8 .primary-sidebar .widget h1 {
	font-size: 20px;
	line-height: 1.2;
}

.ie8 .footer-sidebar .widget h2,
.ie8 .primary-sidebar .widget h2 {
	font-size: 18px;
	line-height: 1.3333333333;
}

.ie8 .footer-sidebar .widget h3,
.ie8 .primary-sidebar .widget h3 {
	font-size: 16px;
	line-height: 1.5;
}

.ie8 .footer-sidebar .widget h4,
.ie8 .primary-sidebar .widget h4 {
	font-size: 14px;
	line-height: 1.7142857142;
}

.ie8 .footer-sidebar .widget h5,
.ie8 .primary-sidebar .widget h5 {
	font-size: 12px;
	line-height: 2;
}

.ie8 .footer-sidebar .widget h6,
.ie8 .primary-sidebar .widget h6 {
	font-size: 11px;
	line-height: 2.1818181818;
}

.ie8 .footer-sidebar .widget code,
.ie8 .footer-sidebar .widget kbd,
.ie8 .footer-sidebar .widget tt,
.ie8 .footer-sidebar .widget var,
.ie8 .footer-sidebar .widget samp,
.ie8 .footer-sidebar .widget pre,
.ie8 .primary-sidebar .widget code,
.ie8 .primary-sidebar .widget kbd,
.ie8 .primary-sidebar .widget tt,
.ie8 .primary-sidebar .widget var,
.ie8 .primary-sidebar .widget samp,
.ie8 .primary-sidebar .widget pre {
	font-size: 11px;
	line-height: 1.6363636363;
}

.ie8 .footer-sidebar .widget blockquote,
.ie8 .primary-sidebar .widget blockquote {
	font-size: 14px;
	line-height: 1.2857142857;
}

.ie8 .footer-sidebar .widget blockquote cite,
.ie8 .primary-sidebar .widget blockquote cite {
	font-size: 12px;
	line-height: 1.5;
}

.ie8 .footer-sidebar .widget input,
.ie8 .footer-sidebar .widget textarea,
.ie8 .primary-sidebar .widget input,
.ie8 .primary-sidebar .widget textarea {
	font-size: 12px;
	padding: 3px 2px 4px 4px;
}

.ie8 .footer-sidebar .widget input[type="button"],
.ie8 .footer-sidebar .widget input[type="reset"],
.ie8 .footer-sidebar .widget input[type="submit"],
.ie8 .primary-sidebar .widget input[type="button"],
.ie8 .primary-sidebar .widget input[type="reset"],
.ie8 .primary-sidebar .widget input[type="submit"] {
	padding: 5px 15px 4px;
}

.ie8 .footer-sidebar .widget .widget-title,
.ie8 .primary-sidebar .widget .widget-title {
	font-size: 11px;
	font-weight: 700;
	line-height: 1.6363636363;
	margin-bottom: 18px;
}

.ie8 .footer-sidebar .widget_twentyfourteen_ephemera .entry-title,
.ie8 .footer-sidebar .widget_twentyfourteen_ephemera .entry-meta,
.ie8 .footer-sidebar .widget_twentyfourteen_ephemera .wp-caption-text,
.ie8 .footer-sidebar .widget_twentyfourteen_ephemera .post-format-archive-link,
.ie8 .footer-sidebar .widget_twentyfourteen_ephemera .entry-content table,
.ie8 .primary-sidebar .widget_twentyfourteen_ephemera .entry-title,
.ie8 .primary-sidebar .widget_twentyfourteen_ephemera .entry-meta,
.ie8 .primary-sidebar .widget_twentyfourteen_ephemera .wp-caption-text,
.ie8 .primary-sidebar .widget_twentyfourteen_ephemera .post-format-archive-link,
.ie8 .primary-sidebar .widget_twentyfourteen_ephemera .entry-content table {
	font-size: 11px;
	line-height: 1.6363636363;
}

.ie8 .footer-sidebar .widget_archive li,
.ie8 .footer-sidebar .widget_categories li,
.ie8 .footer-sidebar .widget_links li,
.ie8 .footer-sidebar .widget_meta li,
.ie8 .footer-sidebar .widget_nav_menu li,
.ie8 .footer-sidebar .widget_pages li,
.ie8 .footer-sidebar .widget_recent_comments li,
.ie8 .footer-sidebar .widget_recent_entries li,
.ie8 .primary-sidebar .widget_archive li,
.ie8 .primary-sidebar .widget_categories li,
.ie8 .primary-sidebar .widget_links li,
.ie8 .primary-sidebar .widget_meta li,
.ie8 .primary-sidebar .widget_nav_menu li,
.ie8 .primary-sidebar .widget_pages li,
.ie8 .primary-sidebar .widget_recent_comments li,
.ie8 .primary-sidebar .widget_recent_entries li {
	border-top: 0;
	padding: 0 0 6px;
}

.ie8 .footer-sidebar .widget_categories li ul,
.ie8 .footer-sidebar .widget_nav_menu li ul,
.ie8 .footer-sidebar .widget_pages li ul,
.ie8 .primary-sidebar .widget_categories li ul,
.ie8 .primary-sidebar .widget_nav_menu li ul,
.ie8 .primary-sidebar .widget_pages li ul {
	border-top: 0;
	margin-top: 0;
}

.ie8 .grid .featured-content .entry-header {
	border-color: #000;
	border-style: solid;
	border-width: 12px 10px;
	height: 96px;
	padding: 0;
}

.ie8 .featured-content {
	padding-left: 17.61904761%;
}

.ie8 .grid .featured-content .hentry {
	float: left;
	width: 33.3333333%;
}

.ie8 .grid .featured-content .hentry:nth-child( 3n+1 ) {
	clear: both;
}

.ie8 .grid .featured-content .entry-header {
	height: 120px;
}

.ie8 .slider .featured-content .entry-title {
	font-size: 33px;
	line-height: 1.0909090909;
}

.ie8 .slider .featured-content .entry-header {
	min-height: inherit;
	padding: 24px 30px 48px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50%;
	z-index: 3;
}

.ie8 .slider-control-paging {
	background: transparent;
	margin-top: -48px;
	padding-left: 24px;
	width: 50%;
}

.ie8 .slider-control-paging li {
	margin: 12px 12px 12px 0;
}

.ie8 .slider-control-paging a {
	height: 24px;
	width: 24px;
}

.ie8 .slider-control-paging a:before {
	top: 6px;
	left: 6px;
}

.ie8 .slider-direction-nav {
	clear: none;
	float: right;
	margin-top: -48px;
	width: 98px;
}

.ie8 .slider-direction-nav li:first-child {
	padding: 0 1px 0 0;
}

.ie8 .slider-direction-nav li {
	border: 0;
	padding: 0 0 0 1px;
}

.ie8 .slider-direction-nav a {
	height: 48px;
}

.ie8 .slider-direction-nav a:before {
	line-height: 48px;
}


/**
 * Internet Explorer 7
 */

.ie7 audio,
.ie7 canvas,
.ie7 video {
	display: inline;
	zoom: 1;
}

.ie7 button,
.ie7 input,
.ie7 select,
.ie7 textarea {
	vertical-align: middle;
}

.ie7 button,
.ie7 input[type="button"],
.ie7 input[type="reset"],
.ie7 input[type="submit"] {
	overflow: visible;
}

.ie7 .screen-reader-text {
	clip: rect(1px 1px 1px 1px);
}

.ie7 .site,
.ie7 .site-header {
	max-width: 100%;
}

.ie7 .search-toggle {
	line-height: 45px;
	margin-right: 190px;
	padding: 0 20px;
	text-transform: uppercase;
	width: auto;
}

.ie7 .search-toggle .screen-reader-text {
	color: #fff;
	position: relative; /* Override inherited `absolute` value set in style.css. */
}

.ie7 .search-box {
	height: 24px;
	padding: 12px 0;
}

.ie7 .search-box .search-field {
	margin: 0 10px;
	width: 33%;
}

.ie7 .site-navigation li {
	border-top: 1px solid #4d4d4d;
}

.ie7 .primary-navigation .nav-menu,
.ie7 .secondary-navigation {
	border-bottom: 1px solid #4d4d4d;
}

.ie7 .secondary-navigation {
	margin: 48px auto;
	max-width: 474px
}

.ie7 .content-area {
	padding-top: 48px;
}

.ie7 .hentry {
	max-width: 100%;
}

.ie7 .menu-toggle {
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	line-height: 45px;
	text-transform: uppercase;
	width: 200px;
}

.ie7 .post-thumbnail img {
	display: block;
	margin: 0 auto;
}

.ie7 .entry-meta .tag-links a {
	margin-left: 0;
}

.ie7 .content-sidebar {
	padding: 48px 10px;
}

.ie7 .singular .hentry.has-post-thumbnail {
	margin-top: -48px;
}

.ie7 .entry-meta > span,
.ie7 .widget_twentyfourteen_ephemera .entry-title {
	margin-right: 20px;
}

.ie7 #secondary {
	border-bottom: 1px solid #4d4d4d;
}

.ie7 .content-sidebar {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.ie7 .widget {
	margin: 0 auto 48px;
	max-width: 474px;
}

.ie7 .content-sidebar .widget_twentyfourteen_ephemera .widget-title {
	padding-top: 7px;
}

.ie7 .slider .featured-content .hentry {
	display: block;
}

.ie7 .featured-content .entry-header {
	min-height: 0;
}

.ie7 .slider-control-paging a {
	line-height: 40px;
	text-indent: 0;
}

.ie7 .slider-control-paging .slider-active {
	color: #41a62a;
}

.ie7 .slider-direction-nav {
	border-top: 2px solid #fff;
}

.ie7 .slider-direction-nav li {
	border: 0;
	width: 49%;
}

.ie7 .slider-direction-nav a {
	font-size: 16px;
	line-height: 45px;
	text-transform: uppercase;
}

.ie7 .slider-direction-nav a:hover {
	background-color: #000;
	color: #41a62a;
}

.ie7 .search-toggle {
	line-height: 45px;
	margin-right: 190px;
}

.ie7 .featured-content .post-thumbnail,
.ie7 .slider .featured-content .post-thumbnail {
	padding-top: 0;
}

.ie7 .featured-content .post-thumbnail img {
	position: relative;
}

.ie7 .featured-content .entry-header {
	width: auto;
}

.ie7 .grid .featured-content .hentry {
	float: left;
	margin: 0 auto;
	max-width: 672px;
	width: 33.333333%;
}

.ie7 .slider .featured-content .entry-header {
	margin: 0 auto;
	max-width: 1038px;
}

.ie7 .slider-control-paging {
	float: none;
	margin: -24px auto 0;
	max-width: 1038px;
	width: auto;
}


/**
 * RTL for Internet Explorer 8 & 7
 */

.rtl .attachment a,
.rtl .gallery a,
.rtl .wp-caption a,
.rtl .widget_twentyfourteen_ephemera .entry-content a {
	display: inline;
}


/**
 * RTL overrides for Internet Explorer 8
 */

.ie8 .rtl .site-content .entry-meta > span {
	margin-right: auto;
	margin-left: 10px;
}

.ie8 .rtl .site-content .format-quote .post-format a:before {
	margin-right: auto;
	margin-left: 2px;
}

.ie8 .rtl .site-content .format-gallery .post-format a:before {
	margin-right: auto;
	margin-left: 4px;
}

.ie8 .rtl .site-content .format-aside .post-format a:before {
	margin-right: auto;
	margin-left: 2px;
}

.ie8 .rtl .site-content .featured-post:before {
	margin-right: auto;
	margin-left: 3px;
}

.ie8 .rtl .site-content .entry-date a:before,
.ie8 .rtl .attachment .site-content span.entry-date:before {
	margin-right: auto;
	margin-left: 1px;
}

.ie8 .rtl .site-content .comments-link a:before {
	margin-right: auto;
	margin-left: 2px;
}

.ie8 .rtl .site-content .full-size-link a:before {
	margin-right: auto;
	margin-left: 1px;
}

.ie8 .rtl .main-content {
	float: right;
}

.ie8 .rtl .content-area {
	float: right;
}

.ie8 .rtl .site-content {
	margin-right: 17.61904761%;
	margin-left: 29.04761904%;
}

.ie8 .rtl .search-box-wrapper,
.ie8 .rtl .featured-content {
	padding-right: 17.61904761%;
	padding-left: 0;
}

.ie8 .rtl .header-main {
	padding: 0 30px 0 0;
}

.ie8 .rtl .search-toggle {
	margin-right: auto;
	margin-left: 0;
}

.ie8 .rtl .primary-navigation {
	float: left;
	margin: 0 -10px 0 1px;
}

.ie8 .rtl .primary-navigation ul ul {
	float: right;
	right: -999em;
	left: auto;
}

.ie8 .rtl .primary-navigation ul ul ul {
	right: -999em;
	left: auto;
}

.ie8 .rtl .primary-navigation ul li:hover > ul,
.ie8 .rtl .primary-navigation ul li.focus > ul {
	right: auto;
	left: auto;
}

.ie8 .rtl .primary-navigation ul ul li:hover > ul,
.ie8 .rtl .primary-navigation ul ul li.focus > ul {
	right: 100%;
	left: auto;
}

.ie8 .rtl .entry-meta .tag-links a:before {
	right: -8px;
}

.ie8 .rtl .archive-header,
.ie8 .rtl .comments-area,
.ie8 .rtl .image-navigation,
.ie8 .rtl .page-header,
.ie8 .rtl .page-content,
.ie8 .rtl .post-navigation,
.ie8 .rtl .site-content .entry-header,
.ie8 .rtl .site-content .entry-content,
.ie8 .rtl .site-content .entry-summary,
.ie8 .rtl .site-content footer.entry-meta {
	margin-right: auto;
	margin-left: 54px;
}

.ie8 .rtl .comment-author,
.ie8 .rtl .comment-awaiting-moderation,
.ie8 .rtl .comment-content,
.ie8 .rtl .comment-list .reply,
.ie8 .rtl .comment-metadata {
	padding-right: 50px;
	padding-left: 0;
}

.ie8 .rtl .comment-list .children {
	margin-right: 20px;
	margin-left: auto;
}


.ie8 .rtl.full-width .site-content {
	margin-left: 0;
}

.ie8 .rtl.full-width .archive-header,
.ie8 .rtl.full-width .comments-area,
.ie8 .rtl.full-width .image-navigation,
.ie8 .rtl.full-width .page-header,
.ie8 .rtl.full-width .page-content,
.ie8 .rtl.full-width .post-navigation,
.ie8 .rtl.full-width .site-content .entry-header,
.ie8 .rtl.full-width .site-content .entry-content,
.ie8 .rtl.full-width .site-content .entry-summary,
.ie8 .rtl.full-width .site-content footer.entry-meta {
	margin-left: auto;
}

.ie8 .rtl .contributor-avatar {
	margin-right: -168px;
	margin-left: auto;
}

.ie8 .rtl .contributor-summary {
	float: right;
}

.ie8 .rtl .site:before {
	right: 0;
	left: auto;
}

.ie8 .rtl #secondary {
	float: right;
	margin: 0 -100% 0 0;
}

.ie8 .rtl .secondary-navigation ul ul {
	right: -999em;
	left: auto;
}

.ie8 .rtl .secondary-navigation ul li:hover > ul,
.ie8 .rtl .secondary-navigation ul li.focus > ul {
	right: 202px;
	left: auto;
}

.ie8 .rtl .content-sidebar {
	float: left;
	margin-right: -29.04761904%;
	margin-left: auto;
}

.ie8 .rtl .footer-sidebar .widget {
	float: right;
}

.ie8 .rtl .featured-content {
	padding-right: 17.61904761%;
	padding-left: 0;
}

.ie8 .rtl.grid .featured-content .hentry {
	float: right;
}

.ie8 .rtl.slider .featured-content .entry-header {
	right: 0;
	left: auto;
}

.ie8 .rtl .slider-control-paging {
	padding-right: 24px;
	padding-left: 0;
}

.ie8 .rtl .slider-control-paging li {
	margin: 12px 0 12px 12px;
}

.ie8 .rtl .slider-control-paging a:before {
	right: 6px;
	left: auto;
}

.ie8 .rtl .slider-direction-nav {
	float: left;
}

.ie8 .rtl .slider-direction-nav li {
	padding: 0 1px 0 0;
}

.ie8 .rtl .slider-direction-nav li:first-child {
	padding: 0 0 0 1px;
}


/**
 * RTL overrides for Internet Explorer 7
 */

.ie7 .rtl.grid .featured-content .hentry {
	float: right;
}

.ie7 .rtl .slider-control-paging {
	float: none;
	margin: -24px auto 0;
}

.ie7 .rtl .entry-meta .tag-links a {
	margin-right: 0;
	margin-left: auto;
}

.ie7 .rtl .search-toggle {
	margin-right: auto;
	margin-left: 190px;
}Enzymes act by converting starting molecules (substrates) into different molecules (products). Almost all chemical reactions in a biological cell need enzymes in order to occur at rates sufficient for life. Since enzymes are selective for their substrates and speed up only a few reactions from among many possibilities, the set of enzymes made in a cell determines which metabolic pathways occur in that cell, tissue and organ. Organelles are also differentially enriched in sets of enzymes to compartmentalise function within the cell.

Like all catalysts, enzymes increase the rate of a reaction by lowering its activation energy (Ea‡). As a result, products are formed faster and reactions reach their equilibrium state more rapidly. Most enzyme reaction rates are millions of times faster than those of comparable un-catalyzed reactions and some are so fast that they are diffusion limited. As with all catalysts, enzymes are not consumed by the reactions they catalyze, nor do they alter the equilibrium of these reactions. However, enzymes do differ from most other catalysts in that they are highly specific for their substrates. Enzymes are known to catalyze about 4,000 biochemical reactions.[3] A few RNA molecules called ribozymes also catalyze reactions, with an important example being some parts of the ribosome.[4][5] Synthetic molecules called artificial enzymes also display enzyme-like catalysis.[6]

Enzyme activity can be affected by other molecules: decreased by inhibitors or increased by activators. Many drugs and poisons are enzyme inhibitors. Activity is also affected by temperature, pressure, chemical environment (e.g., pH), and the concentration of substrate. Some enzymes are used commercially, for example, in the synthesis of antibiotics. In addition, some household products use enzymes to speed up biochemical reactions (e.g., enzymes in biological washing powders break down protein or fat stains on clothes; enzymes in meat tenderizers break down proteins into smaller molecules, making the meat easier to chew). The study of enzymes is called enzymology. I. Identification

1. The Issue
Tobacco is well known for its negative effects on health. Yet, the environmental impact of tobacco production is not always recognized. There appears to be a direct link between tobacco production and deforestation. For countries that devote much of their land to the production of tobacco, this could pose a problem. Malawi is one such example. Tobacco is Malawi's largest industry and currently accounts for nearly 80% of the nation's export earnings. Strong government support for the tobacco industry, including subsidies and tax breaks, has led to tobacco's domination of Malawi's export market. The tobacco industry was intended to increase economic growth and promote development in Malawi. Unfortunately, things have not gone accordingly to plan. The price of tobacco on international markets continues to fall, with no sign of abating. Malawi remains economically stunted, the average live expectancy is gradually declining, and malnutrition, especially in children, continues to be a serious problem. Further, the environmental resources of this nation are at risk. Deforestation, in particular, is a major problem in Malawi. The threat of deforestation, some argue (Tobin, 1998), can be largely attributed to the tobacco industry. Malawi is now at a pivotal point where it must reevaluate its economic strategy and make strides to protect its environment. Otherwise, Malawi will most likely continue in its downward spiral.

2. Description

Figure 1. Map of Malawi

The future of Malawi's forests are in jeopardy. The diminishing forests in this small African nation will not be able to withstand current pressure from the tobacco industry and population growth for much longer. If forest loss continues, there will be many negative environmental and social costs. The productive capacity of the land, in addition to the well being of the people, depends on the protection of Malawi's forests. It is ironic that tobacco, a crop that was once seen as Malawi's key for development, may in fact lead this African nation to its demise.

This case study will look at many of the economic and political conditions which have lead this nation to its dependence on tobacco. It will further explore some of the economic, environmental and development implications tobacco production has had on Malawi. Malawi's vulnerability as a tobacco exporter, both environmentally and economically, will also be discussed. And of course, the link between tobacco production and deforestation will be examined in this case study.

Malawi, often referred to as 'The Warm Heart of Africa,' lies in the Eastern portion of Central Africa along the Great Rift Valley. Unfortunately, this nation, home to nearly 10 million people, has failed to secure its position on the path toward development and faces a very uncertain future. Malawi is confronted with many problems. It is considered one of the world's poorest nations, its economy remains weak, its external debt is 2.3 billion, AIDS is ravaging the population, and the average life expectancy is a mere 36.6 years. As if this were not enough, Malawi's environment, the backbone of the economy and the social structure, is also in danger. Deforestation is considered the biggest environmental problem facing Malawi (CIA web page). One of the causes of deforestation in Malawi is the production of tobacco leafs for export.

Figure 2. View from Zomba Plateau, Malawi

Malawi's economy is heavily entrenched in the agriculture sector - especially tobacco. Tobacco alone accounts for nearly 80% of Malawi's export earnings (Hobbs, 1998). Other agriculture products, namely tea and sugar, constitute nearly 20% of the nation's exports. This issue of exports is critical to a country in need of foreign currency to pay its external debt. Malawi's international debt was was $2.27 billion in 1997 and is expected to rise to $2.42 by the end of 1999 (Corssboars Monitor, 1997).

Forty-five percent of the country's GDP comes from agriculture. This figure would be considerably higher if it included the extensive subsistence agricultural production in Malawi. Roughly 90 percent of the population lives in rural areas, most of whom are involved in subsistence agriculture. The tobacco industry dominates the agricultural sector and is the nation's second largest employer after the government. Tea and sugar are also important crops for Malawi.

Tobacco and Deforestation

Figure 3. Tobacco bales

The correlation between tobacco and deforestation has received little attention to date. This is largely because few countries produce enough tobacco for the environmental ramifications to pose a significant threat. For all countries which export tobacco - except for two - one of which is Malawi (the other is Zimbabwe), export earnings for tobacco constitute less than 2.2% of their foreign exchange earnings. As noted earlier, tobacco constitutes nearly 80% of Malawi's export earnings. While some countries may be able to ignore the potential threat of the tobacco industry on deforestation, Malawi can not. Over 4% of Malawi's land is dedicated to producing tobacco, a much larger percentage than other tobacco producing nations (Panos, 1999). For Malawi, a small nation with limited natural resources, the forests represent one of the few assets the nation has.

The primary way in which tobacco contributes to deforestation is through the curing of the tobacco leaf, a process that requires the burning of fuel wood. It is difficult to assess exactly how much wood is need for curing tobacco, but some argue that it takes as much as three hectares of trees to cure one hectare of tobacco in some countries (Madeley, 1993). In Malawi, it has been estimated that tobacco growers account for as much as 25% of household wood consumption (Tobin, 1998). By the early 1990s, the Malawi government acknowledged that it had one of the highest rates of deforestation in the world (Tobin, 1998). However, the government has not identified tobacco as a primary cause of deforestation. Tobacco production can also aggravate deforestation through the need for wood to construct curing huts, structures that need to be replaced every one to two years. And of course the need to clear land for cultivation also contributes to forest degradation.

Yet, there is no consensus regarding the impact of the tobacco industry on deforestation on Malawi. Some assert that tobacco production in Malawi has a direct negative impact on the forest resources in this African country (Madeley,1993). In contrast, there are those who argue that there is no basis for such claims. It is worth noting that those who fall into this later category are the ones who stand to gain the most from continued tobacco production in Malawi. In fact, the Tobacco Association of Malawi states not only that tobacco production poses no threat to forest resources, but they further state that their reforestation programs are actually resulting in a net increase on forest resources. Enzymes act by converting starting molecules (substrates) into different molecules (products). Almost all chemical reactions in a biological cell need enzymes in order to occur at rates sufficient for life. Since enzymes are selective for their substrates and speed up only a few reactions from among many possibilities, the set of enzymes made in a cell determines which metabolic pathways occur in that cell, tissue and organ. Organelles are also differentially enriched in sets of enzymes to compartmentalise function within the cell.

Like all catalysts, enzymes increase the rate of a reaction by lowering its activation energy (Ea‡). As a result, products are formed faster and reactions reach their equilibrium state more rapidly. Most enzyme reaction rates are millions of times faster than those of comparable un-catalyzed reactions and some are so fast that they are diffusion limited. As with all catalysts, enzymes are not consumed by the reactions they catalyze, nor do they alter the equilibrium of these reactions. However, enzymes do differ from most other catalysts in that they are highly specific for their substrates. Enzymes are known to catalyze about 4,000 biochemical reactions.[3] A few RNA molecules called ribozymes also catalyze reactions, with an important example being some parts of the ribosome.[4][5] Synthetic molecules called artificial enzymes also display enzyme-like catalysis.[6]

Enzyme activity can be affected by other molecules: decreased by inhibitors or increased by activators. Many drugs and poisons are enzyme inhibitors. Activity is also affected by temperature, pressure, chemical environment (e.g., pH), and the concentration of substrate. Some enzymes are used commercially, for example, in the synthesis of antibiotics. In addition, some household products use enzymes to speed up biochemical reactions (e.g., enzymes in biological washing powders break down protein or fat stains on clothes; enzymes in meat tenderizers break down proteins into smaller molecules, making the meat easier to chew). The study of enzymes is called enzymology.Sun Nov  9 22:20:50 PST 2014
What did the Civil War’s death toll mean to those who lived through it? We are now told that wartime deaths were unprecedented and overwhelming, and constituted one of the fundamental experiences for the wartime generation. But is this really true?

In recent years, statistical descriptions have been used by historians — including renowned scholars such as James McPherson, Eric Foner and Drew Gilpin Faust, but also celebrated filmmakers Ken and Ric Burns, among many – to drive home a characterization of the war based on the scale of death. They may be found across the range of media regarding the war, in films, museums, popular histories, scholarly treatises and lectures.

One such statistic is that the number of soldiers’ deaths in the Civil War – approximately 750,000 – was greater than the total number suffered in all other American wars combined. A second point makes use of the first figure: If one calculates the proportion of the total population who died while in military service during the war, and applies this percentage to present-day population figures, the equivalent number of deaths in the 21st century would reach above 7 million. This is a staggering figure that suggests that the Civil War generation made almost inconceivable sacrifices.

But while factually correct, the statistics work to exaggerate the impact of the war. At its essence, the use of these statistics is designed to provide perspective, a laudatory goal. It is supposed to allow those of us looking back on the war to get a clear sense of the emotional texture of the time. The problem is that doing so violates one of the central codes of historical analysis: avoid presentism.

Instead of putting us in the minds of those who experienced the Civil War, it conjures up significance by equating disparate eras. And it is not enough simply to speak about numbers. To understand how deaths affect a culture, it is essential to examine the meaning ascribed to them beyond the statistics. In the case of the Civil War, historians have not adequately taken into account the context of death and dying in the period.

Solid scholarly work exists on the central importance of death in antebellum America and the ordinary experience of death during the war, but Civil War historians have tended to sidestep this literature in order to claim the war years as exceptional. They have also underplayed the significance of the demographic realities that Americans faced before, during, and after the war. These reveal a society constantly coping with large-scale mortality. Americans throughout the period were lucky if they survived into middle age, and they recognized that life was more fragile than we do today.

Evidence for the extraordinary importance of affliction in the lives of antebellum Americans may be found in nearly any historical source from the period. Newspapers almost always included both poems about the death of loved ones and advertisements for nostrums claiming to cure a variety of ailments. Health became an important focus of advice manuals, and fiction frequently made use of death and sickness as plot devices. In many cases, private correspondence concerned matters of health to the exclusion of most other topics, and diaries overflowed with descriptions of suffering.

Given these circumstances, it is important to remember that approximately two-thirds of the deaths of soldiers came as a result of disease, rather than on the battlefield. Looking back from today, these numbers are difficult to fathom, and the image conjured by them is of horrendously unsanitary conditions in military camps. After all, these deaths seem to be as much a product of war as those that resulted from wounds: soldiers in camp were there to fight the war and they died because the conditions were necessary to conduct field operations with a massive army. Sun Nov 16 10:26:10 PST 2014
The various Zebra species exhibit differing social structures. Plains (Equus burchelli) and mountain zebras (Equus zebra spp.) form groups, called harems, composed of a single, protective male, several females and their young. Sometimes, plains zebra harems combine with others to produce enormous herds, containing thousands of animals. By contrast, male and female Grevy’s zebras (Equus grevyi) live apart until environmental conditions are favorable, and food and water are plentiful. Once the conditions are adequate, they come together to mate. Male Grevy’s zebras mark their territories by depositing urine and dung along the periphery and through vocalizations – a behavior called “braying.” While female Grevy’s zebras are polyandrous and may breed with many different males in succession, most other females are monogamous and bond with a specific male.
Adjustments to Aridity

Zebras are well adapted to their arid habitat; most can go as long as five days without water. However, while females are lactating, they need water more frequently -- as often as every other day. Bachelor males and lactating females preferentially seek out greener pastures with younger grass growth. During such times, zebras may use their hooves to dig for water; if they are successful, they will defend such resources. Male Grevy’s zebras may establish territories that lie along paths to water or other such resources; often, they will intercept and breed receptive females as they pass through.
Courtship, Receptivity and Mating

The female’s estrus cycle lasts about five days, during which, they are receptive to mating for about two or three days. When ready to mate, the female arches her back, raises her hindquarters and moves her tail to the side. As with all equids, facial expressions form an important part of intraspecies communication, and the females will flatten their ears and open their mouths when receptive. Males often bare their teeth during the mating process, which may serve to intimidate the female or other males. Male Grevy’s zebras often mate with females repeatedly -- as often as every hour -- to ensure successful fertilization.
Timing of Parturition

Although the various species exhibit small variations in reproductive timing, most females are pregnant for 12 to 13 months. Female zebras typically give birth to one offspring at a time. Most females keep their newborn young, termed a foal, sequestered for a few days while they get to know their mother’s scent, enabling them to recognize her. The young stay with their mother for approximately two to three years.
